* {
    padding: 0;
    margin:  0;
}

body {
    background-color: #222;
    color: #333;
}

kbd {
    border-radius: 3px;
    background-color: #eee;
    padding: 2px 4px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}

#monitor {
    background-color: #d1cec0;
    padding: 20px;
    width: 1050px;
    height: 750px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#display {
    position: relative;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -8%);

    border: inset #f5f4f0; 
    border-width: 20px 10px 20px 10px;
    border-radius: 5px;
    padding: 4px;
    background-color: #111;
    width: 960px;
    height: 600px;
}

#instructions {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;

    position: absolute;
    display: block;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%)
}

#title {
    font-family: monospace;
    font-size: 15px;
    text-align: center;

    background-color: #333;
    color: indianred;

    padding: 4px 8px 4px 8px;
    border: inset 2px #f5f4f0;

    position: absolute;
    display: block;
    top:  22px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas {
    border-radius: 5px;
}
